<% content_for :title do %>
  dodaj nową książkę
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "jquery-ui-1.8.11.custom", "book-add", "mocks" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag :jquery_ui %>
<% end %>

<% content_for :bottom_scripts do %>
  <%= javascript_include_tag "ui.alert", "ui.autocomplete", "book-add" %>
<% end %>


<div>
	<div id="alertBox" class="info">
		Obszar pomocy kontekstowej
	</div>
	<%= form_for @book, :html => { :id => "book-details", :autocomplete => "off" } do |f| %>
	  <%= f.label :title, "Tytuł" %><%= f.text_field :title, :required => true %>
	  <%= f.label :original_title, "Tytuł oryginału" %><%= f.text_field :original_title %>
		<label for="a">Autorzy</label><input class="book_au_ids" id="autors" type="text" placeholder="Wpisz więcej niż 3 litery...">
		<div id="book-author-details">
			<ul id="book-author-details-list"></ul>
		</div>
		
		<div title='Dodaj nową osobę' id="dialog">
			<dl>
			<dt><label for="name">Imię</label></dt><dl><input name="person[first_name]" id="name" type="text"></dl>
			<dt><label for="lastname">Nazwisko</label></dt><dl><input name="person[last_name]" id="lastname" type="text"></dl>
		</div>
	<% end %>
	<img src="/stylesheets/images/categories.png" width="220" height="200" class="column-mock" /><img src="/stylesheets/images/tags.png" width="300" height="200" class="column-mock" />
</div>

<div>
	<input id="submit" type="submit">
</div>

<img src="/stylesheets/images/editions.png" width="960" height="200" />
