<% content_for :title do %>
  dodaj nową książkę
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "jquery-ui-1.8.11.custom", "book-add", "mocks" %>
<% end %>

<% content_for :bottom_scripts do %>
  <script>
    head.js(
      '<%= javascript_path "jquery-1.5.1.min" %>',
      '<%= javascript_path "jquery-ui-1.8.14.custom.min" %>',
      '<%= javascript_path "ui.alert" %>',
      '<%= javascript_path "ui.autocomplete" %>',
      '<%= javascript_path "book-add" %>'
    );
  </script>
<% end %>


<div>
	<div id="alertBox" class="info">
		Obszar pomocy kontekstowej
	</div>
	<%= form_for @book, :html => { :id => "book-details", :autocomplete => "off" } do |f| %>
	  <%= f.label :title, "Tytuł" %><%= f.text_field :title, :required => true %>
	  <%= f.label :original_title, "Tytuł oryginału" %><%= f.text_field :original_title %>
		<label for="a">Autorzy</label><input class="book_au_ids" id="autors" type="text" placeholder="Wpisz więcej niż 3 litery...">
		<div id="book-author-details">
			<ul id="book-author-details-list"></ul>
		</div>
		
		<div title='Dodaj nową osobę' id="dialog">
			<dl>
			<dt><label for="name">Imię</label></dt><dl><input name="person[first_name]" id="name" type="text"></dl>
			<dt><label for="lastname">Nazwisko</label></dt><dl><input name="person[last_name]" id="lastname" type="text"></dl>
		</div>
	<% end %>
	<%= image_tag "/stylesheets/images/categories_opt.png", :size => "220x200", :class => "column-mock" %><%= image_tag "/stylesheets/images/tags_opt.png", :size => "300x200", :class => "column-mock" %>
</div>

<div>
	<input id="submit" type="submit">
</div>

<%= image_tag "/stylesheets/images/editions_opt.png", :size => "960x200" %>
