<% content_for :title do %>
  <%= @book.title %> - <%= pretty_print @book.authors, :with_links => false %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "book" %>
<% end %>

<% content_for :bottom_scripts do %>
  <script>
    var bookId = <%= @book.id %>;
    head.js(
      '<%= javascript_path "jquery-1.5.1.min" %>',
      '<%= javascript_path "ui.toggleButton" %>'
    );
  </script>
<% end %>


<div class="book-details container_12">
	<div class="main-column">
		<a class="button favorite" title="Dodaj do ulubionych"></a>
		<h1 class="h"><%= @book.title %></h1>
		<h6 class="d"><strong>Autor:</strong> <%= pretty_print @book.authors %></h6>
		<div class="description">
		<p>
Maecenas feugiat, lorem lobortis sagittis feugiat, est ante scelerisque enim, nec ultricies ante quam ut velit. Sed at neque purus. Sed rhoncus urna dui, vel aliquam leo. Integer sit amet mi sit amet dolor adipiscing dignissim sit amet eu orci. Etiam eleifend rhoncus interdum. Morbi turpis nulla, semper non dignissim non, facilisis non eros. Curabitur dapibus gravida diam, a ullamcorper nulla convallis vitae. Nullam est leo, facilisis ut tincidunt quis, condimentum eu risus. Aliquam felis magna, pretium vel dignissim vel, mollis ut ligula. Vestibulum et ultrices velit. Duis nunc nisl, suscipit quis auctor nec, auctor sed ligula. Mauris cursus euismod ultricies. Mauris accumsan nulla eget libero varius vel malesuada ante sagittis. Etiam non felis ac ipsum posuere rhoncus id ut lacus. Curabitur malesuada varius orci sed commodo.
    </p>
		<p>
Nunc ac leo orci, rhoncus interdum mi. Quisque dignissim nulla eu dolor tempor hendrerit. Pellentesque ac nunc id turpis aliquam tempor. Aliquam nisl nunc, vestibulum ac vulputate ut, tincidunt quis risus. Suspendisse varius, sapien nec dapibus aliquam, turpis leo congue felis, eu pretium nisi ipsum eu nisi. Fusce faucibus dapibus dolor. Sed sem nulla, egestas ac fringilla sed, sollicitudin sed neque. Integer sollicitudin bibendum accumsan. Pellentesque porttitor dui vitae nibh hendrerit sagittis ultrices dolor rhoncus. Etiam metus tortor, venenatis vitae consequat in, vestibulum vitae orci. Nullam odio massa, adipiscing ornare posuere vel, pellentesque vel ipsum. Vivamus sit amet metus risus.
    </p>
		</div>
		<%= image_tag "/stylesheets/images/editions_show_opt.png", :size => "380x190" %>
	</div>
	<div class="descr-column">
		<%= image_tag "/stylesheets/images/cover_opt.png", :size => "220x320", :class => "cover" %>
		<%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini"
		%><%= image_tag "/stylesheets/images/page_opt.png", :size => "50x70", :class => "mini" %>

		<h5></h5>
		<%= image_tag "/stylesheets/images/categories_show_opt.png", :size => "220x150" %>
		<h5></h5>
		<%= image_tag "/stylesheets/images/tags_show_opt.png", :size => "220x190" %>
	</div>
</div>
<div class="add-column">
	<div class="user-book-details">
		<h5>Społeczność</h5>
		<a class="button do-not-like"></a><a class="button do-like"></a>
		<div class="user-book-preferences">
			<span class="help">Oznacz książkę aby w przyszłości łatwiej ją znaleźć</span><br />
      <label class="button tag" for="possesses_true">Mam</label><input type="checkbox" value="true" name="possesses" id="possesses_true" />
      <label class="button tag" for="possesses_false">Nie mam</label><input type="checkbox" value="false" name="possesses" id="possesses_false" />
      <label class="button tag" for="wants_to_read_true">Chcę przeczytać</label><input type="checkbox" value="true" name="wants_to_read" id="wants_to_read_true" />
      <label class="button tag" for="wants_to_read_false">Nie chcę przeczytać</label><input type="checkbox" value="false" name="wants_to_read" id="wants_to_read_false" />
      <label class="button tag" for="wants_to_give_away_true">Oddam</label><input type="checkbox" value="true" name="wants_to_give_away" id="wants_to_give_away_true" /><br />
		</div>
	</div>

	<h5>Powiązane książki</h5>
	<ul class="other-publications">
		<li>Nullam at enim ut leo dictum laoreet</li>
		<li>In consectetur magna quis mi sodales consectetur</li>
		<li>Sed eu neque magna, ac porttitor massa</li>
		<li>Morbi vel odio ut metus placerat porta</li>
		<li>In eu dolor ipsum, in hendrerit sem</li>
	</ul>
	<h5>Reklamy</h5>
	<%= image_tag "/stylesheets/images/add_opt.png", :size => "300x200" %>

</div>
